/* Header.css */
/* Header.css */
.header {
    position: fixed; /* Fix the header at the top of the page */
    top: 0;
    left: 0;
    right: 0;
    background-color: #4e73df;
    color: white;
    padding: 15px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000; /* Ensure the header is always on top */
  }
  
  .header-content {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  
  .logo {
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
  }
  
  .nav-links {
    display: flex;
    gap: 20px;
  }
  
  .nav-item {
    color: white;
    text-decoration: none;
    font-size: 16px;
    transition: color 0.3s;
  }
  
  .nav-item:hover {
    color: #f68084;
  }
  
  .logout-btn {
    background: none;
    border: none;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: color 0.3s;
  }
  
  .logout-btn:hover {
    color: #f68084;
  }
  